.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0; /* Increased padding top and bottom */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  flex-grow: 1; /* Allow the span to expand and center */
}

.footer-content span {
  margin: 0 auto; /* Center the copyright text */
}

.footer-content a {
margin-right: 40px;
color: #fff;
}

.footer-content a:hover {

color: #25b4b1;
}
