body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home
{
text-decoration: none;
color: #fff;
}

a:hover
{
color: #25b4b1;
}

li a:hover
{
color: #25b4b1;

}

.header .logo-container {
  display: flex; 
  align-items: center; 
}

.header img {
  width: 200px;
  height: 60px;
}

.header h2 {
  margin: 0;
margin-left: 40px;
  cursor: pointer;
}



.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
margin-right: 40px;
  display: flex;
}

.nav li {
  margin-right: 10px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
}
