.about-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
}

.about-us-container {
  width: 100%;
  max-width: 1036px;
}

@media (max-width: 991px) {
  .about-us-container {
    max-width: 100%;
  }
}

.about-us-content {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .about-us-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.about-us-image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 39%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .about-us-image-column {
    width: 100%;
  }
}

.about-us-image {
  aspect-ratio: 1.2;
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-top: -1px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
}

.about-us-text-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 61%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .about-us-text-column {
    width: 100%;
  }
}

.about-us-text-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: auto 0;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .about-us-text-container {
    max-width: 100%;
    margin-top: 40px;
  }
}

.about-us-title {
  color: #b1b1b1;
  font: 700 29px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .about-us-title {
    max-width: 100%;
  }
}

.about-us-description {
  color: #313131;
  letter-spacing: 0.6px;
  margin-top: 47px;
  font: 400 15px/26px Public Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .about-us-description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.section-divider {
  border: 1px solid rgba(209, 209, 209, 1);
  background-color: #d1d1d1;
  align-self: stretch;
  min-height: 1px;
  margin-top: 145px;
  width: 100%;
}

@media (max-width: 991px) {
  .section-divider {
    max-width: 100%;
    margin-top: 40px;
  }
}

.mission-vision-section {
  margin-top: 134px;
  width: 100%;
  max-width: 1083px;
}

@media (max-width: 991px) {
  .mission-vision-section {
    max-width: 100%;
    margin-top: 40px;
  }
}

.mission-vision-content {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .mission-vision-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.mission-vision-text-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 56%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .mission-vision-text-column {
    width: 100%;
  }
}

.mission-vision-text-container {
  display: flex;
  margin: 18px 0px 40px;
  flex-direction: column;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .mission-vision-text-container {
    max-width: 100%;
    margin-top: 40px;
  }
}

.mission-vision-title {
  color: #b1b1b1;
  font: 700 29px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .mission-vision-title {
    max-width: 100%;
  }
}

.mission-vision-description {
  color: #313131;
  letter-spacing: 0.6px;
  margin-top: 69px;
  font: 400 15px/26px Public Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .mission-vision-description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.mission-vision-image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 44%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .mission-vision-image-column {
    width: 100%;
  }
}
