.flash-success {
    padding: 20px;
    background-color: #33a43a;
    color: white;
    margin: 20px 0px;
    border-radius: 4px;
}

.flash-error {
    padding: 20px;
    background-color: rgb(235, 47, 47);
    color: white;
    margin: 20px 0px;
    border-radius: 4px;
}

.flash-remove{
    padding: 20px;
    background-color: #FF5733;
    color: white;
    margin: 20px 0px;
    border-radius: 4px;
}
